<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect root to /admin
    RewriteRule ^$ /admin [L,R=302]

    # Redirect all other requests to index.php if the file/directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

</IfModule>
